%h1 Teams
%table
  %tr
    %th Name
    %th
    %th Actions
    %th

  - @teams.each do |team|
    %tr
      %td= team.name
      %td= link_to 'Show', team
      %td= link_to 'Edit', edit_team_path(team)
      %td= link_to 'Destroy', team, :confirm => 'Are you sure?', :method => :delete

%br
