.container-fluid
  .row-fluid
    %h1 Amazing Team
    %br
    %h3 Members:
    %h5
      = link_to 'Cola, Verna "Kei" Katrin', '/users/prof_kei'
      %br
      = link_to 'Loyola, Lizbeth "Liz"', '/users/prof_liz'
      %br
      = link_to 'Pineda, Riza "Sizzling Star" Rae', '/users/prof_riza'
      %br
      = link_to 'Santos, Ma. "Ru" Rubylisa','/users/prof_ru'
    %br
    %br
    %p
      %b Who we are:
      %br We are CS 192 students under Sir Paje.
      %br
      %b Message:
      %br Hello! Thank you for using our software.
      
      


