.container-fluid
	.row-fluid
		%h1 Help
		%br
		%h3 How to view pending sessions:
		%p
		%br Click the "New Trainings" tab and you will be redirected to the New Trainings page.  
		%br On that page, you will be able to see your pending sessions.
		%br
		%br
		= link_to"Back",'/users/help'