.container-fluid
	.row-fluid
		%h1 Help
		%br
		%h3 How to create a new session:
		%p
		%br Click the "Sessions" tab and you will be redirected to the Sessions page.  
		%br On the Sessions page, click "Add New", which will prompt you to the "Edit Session" form.
		%br If you're done with your changes, push the "Save" button.
		%br Your new session will be automatically added to your table of sessions.
		%br
		%br
		= link_to"Back",'/users/help'