.container-fluid
	.row-fluid
		%h1 Help
		%br
		%h3 How to edit your profile:
		%p
		%br Click the "Profile" tab and you will be redirected to your Profile page.  
		%br On your page, click "Edit ", which will prompt you to the "Edit Profile" form.
		%br If you're done with your changes, push the "Save" button.
		%br Your changes will be automatically updated from the database.
		%br
		%br
		#a{:style=>"clear:both"}
		= link_to"Back",'/users/help'
