.container-fluid
	.row-fluid
		%h1 Help
		%br
		%h3 How to view all athletes:
		%p
		%br Click the "Athletes" tab and you will be redirected to the Athletes and Teams page.  
		%br On the Athletes and Teams page, click on the "Athlete" tab, which will redirect you to the "View Athletes" page.
		%br You may view all your enrolled athletes on that page.
		%br
		%br
		%h3 How to view all teams:
		%p
		%br Click the "Athletes" tab and you will be redirected to the Athletes and Teams page.  
		%br On the Athletes and Teams page, click on the "Team" tab, which will redirect you to the "View Teams" page.
		%br You may view all your teams on that page.
		%br
		%br
		%br
		= link_to"Back",'/users/help'