.container-fluid
	.row-fluid
		%h1 Help
		%br
		%h3 How to save athlete performance statstics to a PDF:
		%p
		%br Click the "Templates" tab and you will be redirected to the Templates page.  
		%br On the Templates page, click "Add New", which will prompt you to the "Edit Tempate" form.
		%br If you're done with your changes, push the "Save" button.
		%br Your new template will be automatically added to your table of templates.
		%br
		%br
		%h3 How to save athlete performance statstics to a PDF:
		%p
		%br Click the "Templates" tab and you will be redirected to the Templates page.  
		%br On the Templates page, click "Add New", which will prompt you to the "Edit Tempate" form.
		%br If you're done with your changes, push the "Save" button.
		%br Your new template will be automatically added to your table of templates.
		%br
		%br
		%br
		= link_to"Back",'/users/help'