.container-fluid
	.row-fluid
		%h1 Help
		%br
		%h3 How to enroll an athlete:
		%p
		%br Click the "Athletes" tab and you will be redirected to the Athlete and Team page.  
		%br On the "Create Athlete" tab on Athlete tab, fill in the needed information of the athlete you want to enroll.
		%br If you're done, push the "Add Athlete" button.
		%br Your newly enrolled athlete will then be sent a confrimation email and be added to your list of athletes.
		%br
		%br
		= link_to"Back",'/users/help'