.container-fluid
	.row-fluid
		%h1 Help
		%br
		%h3 How to create a team:
		%p
		%br Click the "Athletes" tab and you will be redirected to the Athlete and Team page.  
		%br On the "Create Team" tab on Team tab, fill in the needed information of the team you want to create.
		%br If you're done, push the "Save" button.
		%br Your new team will be added to your list of teams.
		%br
		%br
		%h3 How to add athletes in a team:
		%br On the Team tab of the Athlete and Team page, click "Show" under the team you want to add athletes to.
		%br You may drag and drop enrolled athletes to your team.
		%br Once you're done with the changes, hit the ""Save button.
		%br The athletes will be automatically enrolled under that team.
		%br
		%br
		%br
		= link_to"Back",'/users/help'