.container-fluid
	.row-fluid
		%h1 Help
		%br
		%h3 How to view your performance:
		%p
		%br Click the "Performance" tab and you will be redirected to the Performance page.  
		%br On the Performance page, choose which training module you want to view your performace.
		%br
		%br
		= link_to"Back",'/users/help'