.container-fluid
	.row-fluid
		%h1 Help
		%br
		%h3 How to create a new category:
		%p
		%br Click the "Categories" tab and you will be redirected to the Categories page.  
		%br On the Categories page, click "Add New", which will prompt you to the "Edit Category" form.
		%br If you're done with your changes, push the "Save" button.
		%br Your new category will be automatically added to your table of categories.
		%br
		%b Note that you have to create a category before you create a template.
		%br
		%br
		= link_to"Back",'/users/help'