.container-fluid
	.row-fluid
		%h1 Help
		%br
		%h3 How to input data to your training session:
		%p
		%br Click the "New Training" tab and you will be redirected to the New Training page.  
		%br On the New Training page, click which training session you want to add data to.
		%br Fill in the needed information on the training module.
		%br If you're done, push the "Save" button.
		%br
		%br
		= link_to"Back",'/users/help'