.container-fluid
	.row-fluid
		%h1 Help
		%br
		%h3 How to view athlete performance:
		%p
		%br Click the "Performance" tab and you will be redirected to the Performance page.  
		%br On the Performance page, click on the "by Athlete" tab and a list of your athletes will be shown.
		%br Click on any athlete you want to view his/her performance graph.
		%br You may click on the drop down menu on the upper right part of the page to select a graph representation you want to view.
		%br
		%h3 How to view team performance:
		%p
		%br Click the "Performance" tab and you will be redirected to the Performance page.  
		%br On the Performance page, click on the "by Team" tab and a list of your teams will be shown.
		%br Click on any team you want to view their performance graph.
		%br You may click on the drop down menu on the upper right part of the page to select a graph representation you want to view.
		%br
		%h3 How to save performance statistics to a PDF:
		%br Hit "Save to PDF" button located at the bottom of the specific performance page to save the graph representation to a PDF file.
		%br
		%br
		= link_to"Back",'/users/help'