.container-fluid
  .row-fluid
    #athletebox.span9
      %h1 Pending Training Sessions
      %table{:id => "sortable", :class => "zebra-striped tablesorter"}
        %tr
          %th Athlete
          %th Name
          %th Date
          %th Repetitions
          %th Sets
          %th Intervals          
          %th Unit          
          %th Action
        %tbody
          %tr
            %td Albert Einstein
            %td Endurance - CS Oval
            %td January 21
            %td 5
            %td 4
            %td 1 minute
            %td loops
            %td= link_to 'Update', '/users/fillout'
          %tr
            %td Isaac Neston
            %td Endurance - CS Oval
            %td January 24            
            %td 5
            %td 4
            %td 1 minute
            %td loops
            %td= link_to 'Update', '/users/fillout'            

    #a{:style=>"clear:both"}
