.container-fluid
  .row-fluid
    (insert picture here)
    %br
    %h1 Ma. "Ru" Rubylisa Santos
    %h4= link_to 'Back', '/users/about_us'
    %br 
    %p
      %b Birthday: 
      %br September 2
      %br 
      %b Gender: 
      %br Female
      %br
      %b Hobbies:
      %br Sleeping
      
      
