.container-fluid
  .row-fluid
    %br
    %h1 Verna "Kei" Katrin Cola
    %h4= link_to 'Back', '/users/about_us'
    %br 
    %p
      %b Birthday: 
      %br July 4
      %br 
      %b Gender: 
      %br Female
      %br
      %b Hobbies:
      %br Sleeping :))



      
