.container-fluid
  .row-fluid
    = image_tag @l.to_url
    %br
    %h1 Lizbeth "Liz" Loyola
    %h4= link_to 'Back', '/users/about_us'
    %br 
    %p
      %b Birthday: 
      %br June 19
      %br 
      %b Gender: 
      %br Female
      %br
      %b Hobbies:
      %br Sleeping


