.container-fluid
  .row-fluid
    %br
    %h1 Riza "Sizzling Star" Rae Pineda
    %h4= link_to 'Back', '/users/about_us'
    %br 
    %p
      %b Birthday: 
      %br October 19
      %br 
      %b Gender: 
      %br Female
      %br
      %b Hobbies:
      %br Not Sleeping
      
      
