.container-fluid
  .row-fluid
    %br
    - if current_user.currently_coach
      %h3{:style => "color: #11cccc"}= current_user.fullname
    - else
      %h3{:style => "color: #FFCC00"}= current_user.fullname    
    %h1 ARE.YOU.IN? 
    %br
    %ul Being a coach is tougher than most people believe. You would have to <b>design trainings</b> for your athletes while taking into consideration what skills you are trying to <b>develop</b> in them <b>as individuals and as teams</b>. Data from training sessions will have to be statistically analyzed <b>for each athlete and for each team</b> to <b>assess their performance</b>. 
    %br
    %ul It is hard for coaches to conduct training and keep track of their athletes' performance if they have to be away on business. At the same time, any lost time for training is disadvantagous for an athlete. <b>Having logs with deadlines</b> assures that the training sessions are completed when they should be.
    %br
    %ul As an athlete, it is also important to see one's performance relative to past records. <b>Different types of graphs</b> are a good means <b>to be aware of one's progress and areas for improvement</b>.
    %br
    %br
    %br
    %h2 [announcements]
    %table
      %tr
        %td <b>17 March 2012</b> 
        %td We are 80% done!
      %tr
        %td <b>24 March 2012</b>
        %td Working on the details.
