@import "variables"

$footer_height: 20px
$tab_and_content_bg: white

/* Sticky footer: http://www.cssstickyfooter.com/using-sticky-footer-code.html */
a, a:visited
  color: #01939A
h1, h2
  color: #534741
html, body
  height: 100%

#wrap
  min-height: 100%

#inner-wrap
  overflow: auto
  padding-bottom: $footer_height  /* must be same height as the footer */

.footer
  position: relative
  margin-top: -$footer_height /* negative value of footer height */
  height: $footer_height
  clear: both

/* End sticky footer */

body
  background: url(image-path 'bg.png')
  background-color: #D9D9D7
  font-family: "PT Sans", "Tahoma","Geneva","Kalimati",sans-serif

.header
  font-family: "Century Gothic", serif
  height: 70px
  background-color: #534741
  border-bottom: 15px solid #1CC
  margin: 0 auto 10px

  .header-inner
    margin: 0 auto
    width: 80%
    padding: 0
    color: white
    a, a:visited
      color: white

.dash
  height: 45px
  float: right
  padding: 10px 20px

#topnav
  position: absolute
  top: 67px
#sidepane
#navigation
  margin-top: 0
  padding-top: 25px
  font: italic 500 14px "Century Gothic","Avant Garde"
  ul
    color: #987
    list-style: none

ul.tab
  list-style: none
  li
    @include inset_box_shadow(#eee, 0, -3px, 5px)
    background-color: $tab_and_content_bg
    margin: 0 0 4px 20px
    font: italic 500 14px "Century Gothic","Avant Garde"
    padding: 10px
    text-align: left
    line-height: 100%
    color: none
    a, a:visited
      color: #534741

li.active, #current, li.active.athlete
  margin: 0 0 4px 0
  z-index: 1000
  @include box_shadow(#ccc, 0, -3px, 5px)
  border-right: 1px solid white
  a:link, a:visited
    color: #01939A
    font-weight: bold
    font-size: 20px
li.active.athlete
  a:link, a:visited
    color: #FFB000  
#subnav
  padding: 5px 0 0 0
  ul
    color: #987
    list-style: none
ul.subtab
  list-style: none
  li
    display: inline
    background-color: #534741
    font-size: 13px
    padding: 10px
    margin: 0
    text-align: center
    @include inset_box_shadow(#333, 0, -3px, 5px)
    color: none
  a, a:visited
    color: white
    text-style: none
  li.active, #current
    border-bottom: 1px #534741 solid
    color: #FFF
li.subactive, #current
  margin-left: 0
  z-index: 1000
  @include box_shadow(#ccc, 0, -3px, 5px)
  border-right: 1px solid white
  a:link, a:visited
    color: #1CC
    font-weight: bold
    font-size: 15px      
#content
  background-color: $tab_and_content_bg
  min-height: 400px
  padding: 20px 20px
  @include round-corners(10px)
  @include box_shadow(#AAA, -1px, 2px, 5px)
#main
  margin-left: 0
  position: absolute
  left: 160px
  top: 60px
#leftpane
  marign-left: 0
  padding-left: 0
.brownbox 
  padding: 20px
  background: #534741
  float: left
  color: white
  @include round-corners(10px)
  form label, form h2, h1, h2
    color: white
  ul, ul h4
    padding: 0
    margin: 0
    width: 130px
    list-style: none
    color: #01939A
  li
    padding: 3px 10px
    color: white
#athletebox
  marign-left: 0
  padding-left: 0

.footer
  background-color: white
  border-top: 2px solid (#d9d9d7 - 20)
  p
    text-align: center
    font-weight: bold
    font-size: 15px

/* forms */

input,
input[type="password"],
input[type="text"]
  height: 33px
  @include round-corners(10px)

input[type="checkbox"]
  margin: 0 10px

table
  padding-left: 15px
label
  padding: 0
  margin: 0

.button-gray
  background-color: green
  font-size: 18px
  color: #333
  font-weight: bold
  padding: 10px
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 1%, rgba(0,0,0,0) 28%, rgba(0,0,0,0.34) 100%) /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(0,0,0,0)), color-stop(28%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.34))) /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 1%,rgba(0,0,0,0) 28%,rgba(0,0,0,0.34) 100%) /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0) 1%,rgba(0,0,0,0) 28%,rgba(0,0,0,0.34) 100%) /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 1%,rgba(0,0,0,0) 28%,rgba(0,0,0,0.34) 100%) /* IE10+ */
  background: linear-gradient(top, rgba(0,0,0,0) 1%,rgba(0,0,0,0) 28%,rgba(0,0,0,0.34) 100%) /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#57000000',GradientType=0 ) /* IE6-9 */

/*  helpers */
.center
  text-align: center
