.container-fluid
  .row-fluid
    #leftpane.span3
    .brownbox{:style=>"width:200px"}
      - if !@today.nil?
        %h3{:style=>"color:white"} Today's Sessions
        %hr
        %p
          - @today.each do |s|
            %ul{:style=>"width:100%"}
              %li
                %b
                  =s.user.email
                  =link_to '(view)', '#'
                %br
                = s.template.name
              %li
      - else
        %p no trainings yet
    #athletebox.span9
      %h2 New Session
      %br
      = render :partial => "form"
    #a{:style=>"clear:both"}
= link_to 'Back', tsessions_path
