%h1= @team.name
.container-fluid
  .row-fluid
    .span4
      %br
      %h3 Team members
      %ul
      - @team.members.each do |m|
        %li= m.user.fullname
      %br
      %br
      %br
      %br=link_to'Back','/performances/index'
    .span7
      #gallery_container2.ad-gallery{:style => "text-align: center; margin: 0 auto;"}
        .ad-nav
          .ad-thumbs
            %ul.ad-thumb-list
              - @templates.each do |t|
                - @team.members.each do |a|
                  - if !a.user.athlete_template_sessions(t.id).empty?
                    - @line = line_graph_athlete_template(t.id, a.user.template_arr_reps(t.id))
                    %li
                      %a#gallery{:rel=> "lightbox-graphs", :href => @line.to_url, :title => "Time per Repetitions; #{a.user.fullname}"}
                        = image_tag @line.to_url, :width => 200
                        
    
